{% extends 'base.html' %}
{% block title %}Ghost Project Homepage{% endblock %}

{% block body %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <h1>Welcome to Ghost Project!</h1>
  <p>
    <a href="/locations">View all locations</a></li>
  </p>
  <h2>Please log in to continue to profile</h2>

<form action="/" method="post">
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter email" name="email" id="email" required><br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required><br>

    <button type="submit">Login</button>
  </div> 

<h3>Click below for registration</h3>
<p><a href="/registration">Register</a></p>
  {% endblock %}