{% extends 'base.html' %}

{% block title %}{{ location.name }} - Details{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  
<h1>{{ location.name }}</h1> <span>
  {% if user %}
  <form action="/favorites">
    <button id="favorites" name="favorite" value="{{ location.id }}">Add to Favorites</button>
  </form>
  {% endif %}
</span>
<p>
  {{ location.city }} {{ location.state }}
</p>

<p>
  {{ location.description }}
</p>
<h4>Comments</h4>
<form class="" action="/comment_submit" method="POST">
  <textarea placeholder="add comment here" name="user_comments"></textarea>
  <input type="hidden" value="{{location.id}}" name="id" />
  <button>Submit</button>
</form>

<div id="comments">
  {% for comment in location.comments %} 
    {{comment.user_comments}} by {{comment.users.email}}
  {% endfor %} 
</div>
<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/{{location.city_longitude}},{{location.city_latitude}},10/400x400?access_token=pk.eyJ1IjoiZmlzaGVyMzQ3NCIsImEiOiJjbDFkcmQxNXMwazhpM21wNnNieTg4NWVqIn0.dmCThKx2-AVbtgD0bu3Pfw" />



{% endblock %}

