{% extends 'base.html' %}

{% block title %}{{ location.name }} - Details{% endblock %}

{% block body %}

  
<h1>{{ location.name }}</h1> <span>
  <form action="/user_profile">
    <button id="favorites" name="favorite" value="{{ location.id }}">Add to Favorites</button>
  </form>
</span>

<p>
  {{ location.city }} {{ location.state }}
</p>

<p>
  {{ location.description }}
</p>
<script>
  const favButton = document.getElementById("favorites");
  
  favButton.addEventListener('click', function(event){
      console.log(event);
      
    })
</script>
{% endblock %}

