{% extends 'base.html' %}
{% block title %}Ghost Project Registration{% endblock %}

{% block body %}
{% block heading %}<h1 class="text-center">Ghost Hunter Profile Page</h1>{% endblock%}
<form class="container rounded bg-slate mt-5 mb-1" action="/registration" method="POST">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 pt-1 hemley">
                <img style="width:150px" class="rounded-circle mt-8" src="/static/jon-butterworth-pxhKYRe_SSw-unsplash.jpg">
                
                <div class ="profile-links mb-3 mt-3">
                    <a href="/favorites">Favorites</a>
                </div>
                <div class ="profile-links mb-3">
                    <a href="/locations">Locations</a>
                </div>

            </div>
        </div>
        <div class="col-md-9 border-right mb-1 border-right"> 
            <div class="">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 id="profile-settings"class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input name="first_name" type="text" class="form-control" placeholder="first name" value="{{user.first_name if user.first_name}}"></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input name="last_name" type="text" class="form-control" placeholder="last name" value="{{user.last_name if user.last_name}}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">City</label><input name="city" type="text" class="form-control" placeholder="enter city" value="{{user.city if user.city}}"></div>
                    <div class="col-md-12"><label class="labels">State</label><input name="state" type="text" class="form-control" placeholder="enter state" value="{{user.state if user.state}}"></div>
                    <div class="col-md-12"><label class="labels">Zipcode</label><input name="zipcode" type="text" class="form-control" placeholder="enter zipcode" value="{{user.zipcode if user.zipcode}}"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input name="email" type="text" class="form-control" placeholder="enter email" value="{{user.email if user.email}}"></div>
                </div> 
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Website</label><input name="website" type="text" class="form-control" placeholder="website" value="{{user.contacts.website if user.contacts.website}}" /></div>
                    <div class="col-md-12"><label class="labels">Social Media link</label><input name = "social_media_link" type="text" class="form-control"  placeholder="social media" value="{{user.contacts.social_media_link if user.contacts.social_media_link}}" /></div>
                </div>
            </div>
        </div>
    </div>
</form>



{% endblock %}